POSTGRES_DB=blackglass
POSTGRES_USER=blackglass
POSTGRES_PASSWORD=blackglass
SECRET_KEY=changeme
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
HIBP_API_KEY=replace-me
